Source: guibot
Section: python
Priority: optional
Maintainer: intra2net.com
Homepage: http://guibot.org
Build-Depends: debhelper (>= 9), dh-python,
 python3-all (>=3.3), python3-setuptools
Standards-Version: 3.9.2
X-Python3-Version: >= 3.3

Package: python3-guibot
Architecture: all
Depends: ${python3:Depends}, python3-pil
Description: GUI automation tool
 A tool for GUI automation using a variety of computer vision and display control backends.
 Supported CV backends are based on OpenCV, PyTorch, and autopy, and supported DC backends
 on autopy, vncdotool, and qemu.
