# minimal
Pillow==9.3.0; python_version < '3.12'
Pillow==11.1.0; python_version >= '3.12'

# backends
autopy==4.0.1; python_version >= '3.8' and platform_python_implementation != "PyPy"
# OCR is currently not tested on Windows due to custom Tesseract OCR installers
pytesseract==0.3.13; sys_platform != 'win32'
tesserocr==2.7.1; sys_platform != 'win32'
# TODO: OpenCV and PyTorch don't control their "numpy" dependency
numpy==1.26.4; platform_python_implementation != "PyPy"
opencv-contrib-python==4.5.5.62; platform_python_implementation != "PyPy"
torch==2.2.0; python_version < '3.12' and 'generic' not in platform_release and platform_python_implementation != "PyPy"
torch==2.6.0; python_version >= '3.12' and 'generic' not in platform_release and platform_python_implementation != "PyPy"
torchvision==0.17.0; python_version < '3.12' and 'generic' not in platform_release and platform_python_implementation != "PyPy"
torchvision==0.21.0; python_version >= '3.12' and 'generic' not in platform_release and platform_python_implementation != "PyPy"
vncdotool==0.12.0; sys_platform != 'win32' and platform_python_implementation != "PyPy"
pyautogui==0.9.54; platform_python_implementation != "PyPy"

# optional proxy guibot interface deps
serpent==1.41
Pyro5==5.14

# coverage analysis to use for testing
coverage
codecov
# GUI to use for testing
# TODO: the most recent version at the time works on windows but not on linux
PyQt5==5.15.6; sys_platform == 'win32' and platform_python_implementation != "PyPy"
PyQt5==5.14.2; sys_platform != 'win32' and platform_python_implementation != "PyPy"
